{% extends 'attendance/base.html' %}




{% block content %} 

{% if user.is_authenticated %}

    <div class="card col-12">
        
        <h2 class="text-center alert alert-success"> 
            login as {{ user.username }}
        </h2>

        <form action="{% url 'logoutuser' %}" method="post" class="text-center alert alert-success">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-lg"> Logout</button>
        </form>
        

    </div>

{% else %}
    <div class="card col-12">
        <a  href="{% url 'loginuser' %}" type="submit" class="btn btn-success btn-lg"> Login</a>
    </div>
{% endif %}

<!-- {% include 'attendance/navbar.html' %} -->

{% endblock %}


