{% extends 'attendance/base.html' %}




{% block content %} 

<div class="mx-auto" style="width: 350px;">
    <div class ="bg-primary card text-center">
        {{error}}
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="btn btn-sm bg-success" type="submit">login</button>
        </form>
    </div>

</div>

<form action="" method="POST">
    <input type="hidden" name="csrfmiddlewaretoken" value="nlZ0ltY2hLa0Benxh1UmI6PKVUsU5TyspQVHlR6f3eYKQ8YVfLoRDWArK2BoUvC6">
    <p><label for="id_username">Username:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username"></p>
<p><label for="id_password">Password:</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password"></p>
    <button class="btn btn-sm bg-success" type="submit">login</button>
</form>



{% endblock %}