{% extends 'attendance/orange/blank-page.html' %}

{% block content %}
<div class="page-wrapper">

	<div class="content container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="welcome-box">
					<div class="welcome-img">
						<img alt="" src="{{teacher.profile_pic.url}}"
						style="height:60px;">
					</div>
					<div class="welcome-det">
						<h3>{{teacher.FirstName}} {{teacher.lastName}}</h3>
						<p>{{today_day}} {{today_date}}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<section class="dash-section">
					<h1 class="dash-sec-title">Today</h1>
					<div class="dash-sec-content">

						{% for entry in today_tts %}
						<div class="dash-info-list">
							<a href="employee-dashboard.html#" class="dash-card text-danger">
								<div class="dash-card-container">
									<div class="dash-card-icon">
										<i class="fa fa-hourglass-o"></i>
									</div>
									<div class="dash-card-content">
										<p>You are assigned to {{entry.class_name}} for period {{entry.period}}</p>
									</div>
									<div class="dash-card-avatars">
										<div class="e-avatar"><img src="assets/img/profiles/avatar-09.jpg" alt=""></div>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}




					</div>
				</section>


				
				<section class="dash-section">
					<h1 class="dash-sec-title">Tomorrow</h1>

				

					<div class="dash-sec-content">

						{% if tomorrow_tts.count == 0 %}

						<div class="dash-info-list">
							<div class="dash-card">
								<div class="dash-card-container">
									<div class="dash-card-icon">
										<i class="fa fa-suitcase"></i>
									</div>
									<div class="dash-card-content">
										<p>No classes</p>
									</div>
									<div class="dash-card-avatars">
										<a href="employee-dashboard.html#" class="e-avatar"><img
												src="assets/img/profiles/avatar-04.jpg" alt=""></a>
										<a href="employee-dashboard.html#" class="e-avatar"><img
												src="assets/img/profiles/avatar-08.jpg" alt=""></a>
									</div>
								</div>
							</div>
						</div>

						{% else %}

						{% for entry in tommorrow_tts %}
						<div class="dash-info-list">
							<a href="employee-dashboard.html#" class="dash-card text-danger">
								<div class="dash-card-container">
									<div class="dash-card-icon">
										<i class="fa fa-hourglass-o"></i>
									</div>
									<div class="dash-card-content">
										<p>You are assigned to {{entry.class_name}} for period {{entry.period}}</p>
									</div>
									<div class="dash-card-avatars">
										<div class="e-avatar"><img src="assets/img/profiles/avatar-09.jpg" alt=""></div>
									</div>
								</div>
							</a>
						</div>
						{% endfor %}

						{% endif %}

					</div>

				
				</section>

				


				


				<section class="dash-section">
					<h1 class="dash-sec-title">Next seven days</h1>
					<div class="dash-sec-content">



						<div class="dash-info-list">


							{% for entry in next7days %}
							<div class="dash-info-list">
								<a href="employee-dashboard.html#" class="dash-card text-danger">
									<div class="dash-card-container">
										<div class="dash-card-icon">
											<i class="fa fa-hourglass-o"></i>
										</div>
										<div class="dash-card-content">
											
											<p>You are assigned to class {{entry.class_name}} for period {{entry.period}}  on {{ entry.day.dayName }}</p>
										</div>
										<div class="dash-card-avatars">
											<div class="e-avatar"><img src="assets/img/profiles/avatar-09.jpg" alt=""></div>
										</div>
									</div>
								</a>
							</div>
							{% endfor %}

						</div>






					</div>
				</section>
			</div>

		</div>
	</div>

</div>


<script>


</script>

{% endblock %}