<div class="page-wrapper">
    {% load static %}
	<div class="content container-fluid">
	
	<div class="page-header">
	<div class="row">
	<div class="col-sm-12">
	<h3 class="page-title">Profile</h3>
	<ul class="breadcrumb">
	<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
	<li class="breadcrumb-item active">Profile</li>
	</ul>
	</div>
	</div>
	</div>
	
	<div class="card mb-0">
	<div class="card-body">
	<div class="row">
	<div class="col-md-12">
	<div class="profile-view">
	<div class="profile-img-wrap">
	<div class="profile-img">
	<!-- <a href="profile.html#"><img alt="" src="{% static 'assets/img/profiles/avatar-02.jpg' %}"></a> -->
	<a href="profile.html#"><img alt="" src="{{teacher.profile_pic.url}}"></a>

	</div>
	</div>
	<div class="profile-basic">
	<div class="row">
	<div class="col-md-5">
	<div class="profile-info-left">
	<h3 class="user-name m-t-0 mb-0">{{teacher.FirstName}}</h3>
	<h6 class="text-muted">{{teacher.role}}: Teacher</h6>
	<small class="text-muted">Subject: {{teacher.subject}} </small>
	<div class="staff-id">Employee ID : {{teacher.id}}</div>
	<div class="small doj text-muted">Date of Join : {{teacher.dateOfJoining}}</div>
	<div class="staff-msg"><a class="btn btn-custom" href="chat.html">Send Message</a></div>
	</div>
	</div>
	<div class="col-md-7">
	<ul class="personal-info">
	<li>
	<div class="title">Phone:</div>
	<div class="text"><a href="profile.html">{{teacher.phone}}</a></div>
	</li>
	<li>
	<div class="title">Email:</div>
	<!-- <div class="text"><a href="profile.html"><span class="__cf_email__" data-cfemail="503a3f383e343f35103528313d203c357e333f3d">[email&#160;protected]</span></a></div> -->
	<div class="text"><a href="profile.html"><span>{{teacher.email}}</span></a></div>
	
    </li>
	<li>
	<div class="title">Birthday:</div>
	<div class="text">{{teacher.birthday}}</div>
	</li>
	<li>
	<div class="title">Address:</div>
	<div class="text">1861 Bayonne Ave, Manchester Township, NJ, 08759</div>
	</li>
	<li>
	<div class="title">Gender:</div>
	<div class="text">{{teacher.gender}}</div>
	</li>

	</ul>
	</div>
	</div>
	</div>

	<div class="pro-edit"><a data-bs-target="#profile_info" data-bs-toggle="modal" class="edit-icon" href="profile.html#"><i class="fa fa-pencil"></i></a></div>
	</div>
	</div>
	</div>
	</div>
	</div>
	<div class="card tab-box">
	<div class="row user-tabs">
	<div class="col-lg-12 col-md-12 col-sm-12 line-tabs">
	</div>
	</div>
	</div>
	</div>
	
</div>